<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="site:theme" value="default"/>
    <add key="site:title" value="Anart galerija"/>
    <add key="site:description" value="Pri nas je likovno delo v dobrih rokah"/>
    <add key="site:metadescription" value="Anart je galerija mag. Kocjančič za slikarstvo in kiparstvo. Nudi cenitve, svetovanje, prodajo, nakup likovnih del, starine, darila in opremo prostorov. Virtualna razstava kaže novosti."/>
    <add key="site:image" value="/content/anart.png"/>
    <add key="site:copyright" value="Anart galerija"/>
    <add key="site:useGA" value="false"/>
    <add key="site:GATrackerId" value=""/>
    <add key="site:email" value=""/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2097152"/>
    <globalization culture="sl-SI" uiCulture="sl-SI"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login" defaultUrl="~/Admin/Dashboard" name="abrotelia" slidingExpiration="true" protection="None" timeout="10080">
        <credentials passwordFormat="SHA1">
          <user name="admin" password="d033e22ae348aeb5660fc2140aec35850c4da997"/>
          <!-- pwd: admin -->
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions>
          <remove fileExtension=".cshtml"/>
          <add fileExtension=".cshtml" allowed="true"/>
        </fileExtensions>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by"/>
        <add name="Content-Security-Policy" value="object-src 'none';"/>
        <add name="Arr-Disable-Session-Affinity" value="True"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="index.cshtml"/>
        <add value="index.cshtml"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="AuthorHandler"/>
      <add name="AuthorHandler" verb="POST" type="Abrotelia.Web.Code.Handlers.AuthorHandler" path="/Admin/AuthorHandler.ashx" resourceType="Unspecified"/>
      <remove name="GalleryItemHandler"/>
      <add name="GalleryItemHandler" verb="POST" type="Abrotelia.Web.Code.Handlers.GalleryItemHandler" path="/Admin/GalleryItemHandler.ashx" resourceType="Unspecified"/>
      <remove name="ImageHandler"/>
      <add name="ImageHandler" verb="GET" type="Abrotelia.Web.Code.Handlers.ImageHandler" path="/images/ImageHandler.ashx" resourceType="Unspecified"/>
      <remove name="PageHandler"/>
      <add name="PageHandler" verb="POST" type="Abrotelia.Web.Code.Handlers.PageHandler" path="/Admin/PageHandler.ashx" resourceType="Unspecified"/>
      <remove name="GallerySearchHandler"/>
      <add name="GallerySearchHandler" verb="GET" type="Abrotelia.Web.Code.Handlers.GallerySearchHandler" path="/gallerySearch/GallerySearchHandler.ashx" resourceType="Unspecified"/>
      <remove name="NewsSubscriptionHandler for public"/>
      <add name="NewsSubscriptionHandler for public" verb="POST" type="Abrotelia.Web.Code.Handlers.NewsSubscriptionHandler" path="/Action/NewsSubscriptionHandler.ashx" resourceType="Unspecified"/>
      <remove name="NewsSubscriptionHandler for admin"/>
      <add name="NewsSubscriptionHandler for admin" verb="POST" type="Abrotelia.Web.Code.Handlers.NewsSubscriptionHandler" path="/Admin/NewsSubscriptionHandler.ashx" resourceType="Unspecified"/>
    </handlers>
    <rewrite>
      <rules>
        <clear/>
        <rule name="fingerprint" stopProcessing="true">
          <match url="(.+)(_([0-9]{18})+\.)([\S]+)"/>
          <action type="Rewrite" url="{R:1}.{R:4}"/>
        </rule>
        <rule name="slug" stopProcessing="true">
          <match url="^page/(.*)" ignoreCase="true"/>
          <action type="Rewrite" url="?slug={R:1}"/>
        </rule>
        <rule name="gallery" stopProcessing="true">
          <match url="^galerija(/){0,1}(.*)" ignoreCase="true"/>
          <action type="Rewrite" url="?view=gallery&amp;query={R:2}"/>
        </rule>
        <rule name="authors" stopProcessing="true">
          <match url="^umetniki(/){0,1}" ignoreCase="true"/>
          <action type="Rewrite" url="?view=author"/>
        </rule>
        <rule name="author" stopProcessing="true">
          <match url="^avtor/(.*)/(.*)" ignoreCase="true"/>
          <action type="Rewrite" url="?view=author&amp;slug={R:1}&amp;id={R:2}"/>
        </rule>
        <rule name="galleryItem" stopProcessing="true">
          <match url="^delo/(.*)/(.*)"/>
          <action type="Rewrite" url="?view=galleryItem&amp;slug={R:1}&amp;id={R:2}"/>
        </rule>
        <rule name="images" stopProcessing="true">
          <match url="^images/(.*)_(.*)\.(.*)" ignoreCase="true"/>
          <action type="Rewrite" url="/images/ImageHandler.ashx?id={R:2}&amp;size={R:1}"/>
        </rule>
        <rule name="gallerySearch" stopProcessing="true">
          <match url="^gallerySearch/?(.*)" ignoreCase="true"/>
          <action type="Rewrite" url="/gallerySearch/GallerySearchHandler.ashx?{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>